## Credential
MINIO_ROOT_USER="{{ minio_access_key }}"
MINIO_ROOT_PASSWORD="{{ minio_secret_key }}"

## volume configuration
MINIO_VOLUMES="{{ minio_volume_bind }}"

## port
MINIO_OPTS="-C /etc/minio --address 0.0.0.0:{{ minio_ports_api }} --console-address 0.0.0.0:{{ minio_ports_console }}"

## Browser module

MINIO_BROWSER={{ minio_browser_enabled }}

## MINIO_SERVER_URL= {{ minio_server_url }}


## secure ssl
MCS_SECURE_SSL_REDIRECT={{ minio_secure_ssl_redirect_enabled }}

MINIO_IDENTITY_LDAP_SERVER_ADDR={{ minio_ldap_server_address }}
MINIO_IDENTITY_LDAP_LOOKUP_BIND_DN={{ minio_ldap_bind_dn }}
MINIO_IDENTITY_LDAP_LOOKUP_BIND_PASSWORD='{{ minio_ldap_bind_password }}'
MINIO_IDENTITY_LDAP_USER_DN_SEARCH_BASE_DN={{ minio_ldap_user_search_base_dn }}

# MINIO_IDENTITY_LDAP_SERVER_STARTTLS={{ minio_ldap_server_starttls }}
# MINIO_IDENTITY_LDAP_TLS_SKIP_VERIFY={{ minio_ldap_tls_skip_verify }}
# MINIO_IDENTITY_LDAP_SERVER_INSECURE={{ minio_ldap_server_insecure }}

## MINIO_IDENTITY_LDAP_LOOKUP_BIND_PASSWORD={{ minio_browser_enabled }}
MINIO_IDENTITY_LDAP_USER_DN_SEARCH_FILTER={{ minio_ldap_user_dn_search_filter }}
MINIO_IDENTITY_LDAP_GROUP_SEARCH_BASE_DN={{ minio_ldap_group_search_base_dn }}

MINIO_IDENTITY_LDAP_GROUP_SEARCH_FILTER={{ minio_ldap_group_search_filter }}
